{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <h1>detail</h1>
  {{ review.user }}|
  {{ review.title }}|
  {{ review.content }}|
  {{ review.movie_name }}|
  {{ review.grade }}|
  {{ review.updated_at }}|
  {% if request.user.pk == review.user.pk %}
    <a href="{% url 'reviews:update' review.pk %}" class="btn btn-primary">수정</a>
    <a href="" class="btn btn-primary">삭제</a>
  {% endif %}
  {% if request.user.is_authenticated %}
    <!-- 댓글 작성 폼-->
    <form action="{% url 'reviews:comments_create' review.pk %}" method="post">
      {% csrf_token %}
      {% bootstrap_form comment_form %}
      <input type="submit" class='btn btn-primary'>
    </form>
  {% endif %}
  {% for comment in comments %}
    <p>
      {{ request.user }}||{{ comment.content }}
      {% if request.user.pk == comment.user.pk %}
        <a href="{% url 'reviews:comments_delete' review.pk comment.pk %}" class="btn btn-primary">댓글 삭제</a>
        {% endif%}
      </p>
      {% empty %}
      <p>아직 댓글이 없습니다. 첫 댓글을 작성해보세요!</p>
    {% endfor %}
  {% endblock content %}
